//Popover
.ant-popover-arrow {
  display: none !important;
}

//Tabs
.ant-tabs {
  color: #696969 !important
}

// Table
.ant-table * {
  --tw-text-opacity: 1 !important;
  color: rgb(203 213 225 / var(--tw-text-opacity)) !important;
}

.ant-table-thead>tr>th {
  font-weight: 700 !important;
  font-size: medium;
  text-shadow: 0 0 5px #00BEA1;
}

// .ant-table-body {
&::-webkit-scrollbar {
  height: 10px;
  width: 0px;
  overflow-y: auto;
}

&::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #1b1524;
}

&::-webkit-scrollbar-track {
  -webkit-box-shadow: 0;
  border-radius: 5px;
  background: #0f0a19;
}

// }

.ant-table-body {
  overflow-x: auto !important;
}

.ant-table-cell {
  white-space: nowrap !important;
}

// Spin
.ant-spin-nested-loading>div>.ant-spin {
  max-height: none !important
}

// Empty
.ant-empty-description {
  color: white !important;
}

// Pagination
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border: none !important
}

// Form
.ant-form-item-optional {
  color: #bfbfbf !important;
  font-size: 14px !important;
}

// Date picker
.ant-picker {
  border: none !important;
  background-color: transparent !important;
}

.ant-picker-focused {
  box-shadow: none !important;
}

.ant-picker-input>input {
  color: white !important;
}

.ant-picker-header {
  color: white !important;
}

.ant-picker-cell-inner {
  color: white !important;
}

// Input
.ant-input:focus {
  border: none !important;
  box-shadow: none !important;
}

.ant-input {
  color: white !important;
  border: none !important;
  background-color: transparent !important;
}

.normal {
  .ant-input {
    color: black !important
  }
}

// Selete
.ant-select {
  color: white !important;
}

.search .ant-select-selector {
  width: 130px !important;
}

.ant-select-selector {
  box-shadow: none !important;
}

.ant-select-arrow {
  color: #bfbfbf !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none !important;
  background-color: transparent !important;
}

.ant-select-item-option {
  color: #bfbfbf !important;
  background: #322d3a !important;
}

.ant-select-dropdown {
  border-radius: 10px !important;
  overflow: hidden !important;
}

//Upload
.ant-upload-text-icon {
  display: flex !important;
  align-items: center !important;
}