@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-menu-inline {
    border-right: none !important;
}

.ant-layout-sider-light {
    flex: 0 0 15.5vw !important; 
    max-width: 15.5vw !important;
    min-width: 190px !important;
    max-height: 100vh !important;
    min-height: 100vh !important;
    height: 100vh !important;
    width: 190px !important;
}
.ant-menu-item {
    border-radius: 12px !important;
    padding-left: 16px !important;
    min-height: 41px !important;
}
/* .ant-tag{
    min-width: 60px !important;
    width: 3.5vw !important;
    text-align: center !important;
    font-size: 12px !important;
    transform: scale(0.8);
    margin-right: 0.5vw !important;
} */
.ant-list-sm .ant-list-item{
    padding: 0.2vw 0 !important;
    height: 1.9vw !important;
    min-height: 19px !important;
    overflow: hidden;
}
.ant-list-header{
    padding-top: 0 !important;
    padding-bottom: 0.2vw !important;
}

.white-glassmorphism {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .eth-card {
    background-color: #a099ff;
    background-image: radial-gradient(
        at 83% 67%,
        rgb(152, 231, 156) 0,
        transparent 58%
      ),
      radial-gradient(at 67% 20%, hsla(357, 94%, 71%, 1) 0, transparent 59%),
      radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
      radial-gradient(at 31% 91%, hsla(9, 61%, 61%, 1) 0, transparent 52%),
      radial-gradient(at 27% 71%, hsla(336, 91%, 65%, 1) 0, transparent 49%),
      radial-gradient(at 74% 89%, hsla(30, 98%, 65%, 1) 0, transparent 51%),
      radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%);
  }